* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #28292B;
    width: 100vw;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
}

header {
    padding: 20px;

    .headline-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        min-width: 300px;
        min-height: 150px;
        text-align: center;

        h1 {
            font-size: 4em;
        }

        &:hover {
            :nth-child(1) {
                animation: flex 1.5s ease-in-out infinite alternate;
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .terminal-wrap {
        display: flex;
        flex-direction: column;
        color: white;
        font-family: 'Ubuntu Mono', monospace;
        width: 1000px;

        .terminal-header {
            background-color: white;
            color: black;
            padding: 10px;
            text-align: center;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .terminal-content {
            padding: 10px;
            background-color: #3F3F3F;
            height: 400px;
            display: flex;

            .terminal-content__commands {
                flex: 1;
                overflow-y: scroll;

                .terminal-content-history {
                    span {
                        display: block;
                    }
                }

                .terminal-content-current {
                    min-width: 100px;
                    caret-color: transparent;

                    &:focus {
                        outline: none;
                    }

                    &::before {
                        content: 'z164@z164:~$ ';
                    }

                    &::after {
                        content: '█';
                        animation: blink 1s step-start infinite reverse;
                    }
                }
            }

            .terminal-content__chat {
                flex: 1;
                padding-left: 10px;
                overflow-y: scroll;

                span {
                    display: block;
                    padding: 2px;
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 0px;
}

@media (max-width: 1025px) {
    main {
        .terminal-wrap {
            width: 300px;
            .terminal-content {
                flex-direction: column-reverse;
                height: 400px;
            }
        }
    }
}

@keyframes flex {
    33% {
        font-size: 4.5em;
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    }

    66% {
        font-size: 3.5em;
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #f8e007, 0 0 75px #f8e007, 2px 2px 2px rgba(206, 89, 55, 0);
    }

    100% {
        font-size: 4.5em;
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #e92525, 0 0 30px #e92525, 0 0 40px #e92525, 0 0 55px #e92525, 0 0 75px #e92525;
    }
}

@keyframes blink {
    50% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}